<ion-view view-title="Dashboard">
    <ion-content>
        <ion-pane>
            <ion-header-bar class="bar-stable">
                <h1 class="title">Test</h1>
            </ion-header-bar>
            <ion-content padding="true" has-header="true">
                <div class="text-center padding">
                    <button ng-disabled="registerDisabled" class="button button-bar-inline button-balanced" ng-click="register()">Register</button>
                    <button ng-disabled="!registerDisabled" class="button button-bar-inline button-balanced" ng-click="unregister()">Unregister</button>
                </div>
                <p>Device Token</p>
                <textarea readonly>{{regId}}</textarea>
            </ion-content>
        </ion-pane>
    </ion-content>
           
</ion-view>
